# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.sqlite3

# Django
/staticfiles/
media/

# Node/React
node_modules/
build/
.env

# Docker
*.log
docker-compose.override.yml

# IDE
.vscode/
.idea/
.DS_Store
