services:
  backend:
    build:
      context: .             
      dockerfile: backend/Dockerfile
    container_name: backend_dev
    command: python /app/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/django_app:/app
      - ./common_libs:/app/common_libs
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend_dev
    volumes:
      - ./frontend/react_app:/app
      - ./common_libs:/app/common_libs
    ports:
      - "3000:3000"
    env_file:
      - .env.dev

  db:
    image: postgres:16
    container_name: postgres_dev
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env.dev
    ports:
      - "5432:5432"

volumes:
  db_data:
